# Import libraries, variables and functions

In [189]:
import pandas as pd
import matplotlib.pyplot as plt
import os

!pip install plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /programs/anaconda3/lib/python3.12/site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in /programs/anaconda3/lib/python3.12/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /programs/anaconda3/lib/python3.12/site-packages (from plotly) (24.1)

In [197]:
%run "variables.py"

In [202]:
%run "functions.ipynb"

# Data Import

## Get data and create dataframes

In [167]:
files_names = [
    ("PdM_telemetry.csv", "df_telemetry"),
    ("PdM_errors.csv", "df_errors"),
    ("PdM_machines.csv", "df_machines"),
    ("PdM_maint.csv", "df_maint"),
    ("PdM_failures.csv", "df_failures")
]

In [168]:
dataframes=getDataFrames(files_names=files_names,data_dir=DATA_DIR)
print(dataframes)

{'df_telemetry':                    datetime  machineID        volt      rotate    pressure  \
0       2015-01-01 06:00:00          1  176.217853  418.504078  113.077935
1       2015-01-01 07:00:00          1  162.879223  402.747490   95.460525
2       2015-01-01 08:00:00          1  170.989902  527.349825   75.237905
3       2015-01-01 09:00:00          1  162.462833  346.149335  109.248561
4       2015-01-01 10:00:00          1  157.610021  435.376873  111.886648
...                     ...        ...         ...         ...         ...
876095  2016-01-01 02:00:00        100  179.438162  395.222827  102.290715
876096  2016-01-01 03:00:00        100  189.617555  446.207972   98.180607
876097  2016-01-01 04:00:00        100  192.483414  447.816524   94.132837
876098  2016-01-01 05:00:00        100  165.475310  413.771670  104.081073
876099  2016-01-01 06:00:00        100  171.336037  496.096870   79.095538

        vibration
0       45.087686
1       43.413973
2       34.178847
3       41.122144
4       25.990511
...           ...
876095  50.771941
876096  35.123072
876097  48.314561
876098  44.835259
876099  37.845245

[876100 rows x 6 columns], 'df_errors':                  datetime  machineID errorID
0     2015-01-03 07:00:00          1  error1
1     2015-01-03 20:00:00          1  error3
2     2015-01-04 06:00:00          1  error5
3     2015-01-10 15:00:00          1  error4
4     2015-01-22 10:00:00          1  error4
...                   ...        ...     ...
3914  2015-11-21 08:00:00        100  error2
3915  2015-12-04 02:00:00        100  error1
3916  2015-12-08 06:00:00        100  error2
3917  2015-12-08 06:00:00        100  error3
3918  2015-12-22 03:00:00        100  error3

[3919 rows x 3 columns], 'df_machines':     machineID   model  age
0           1  model3   18
1           2  model4    7
2           3  model3    8
3           4  model3    7
4           5  model3    2
..        ...     ...  ...
95         96  model2   10
96         97  model2   14
97         98  model2   20
98         99  model1   14
99        100  model4    5

[100 rows x 3 columns], 'df_maint':                  datetime  machineID   comp
0     2014-06-01 06:00:00          1  comp2
1     2014-07-16 06:00:00          1  comp4
2     2014-07-31 06:00:00          1  comp3
3     2014-12-13 06:00:00          1  comp1
4     2015-01-05 06:00:00          1  comp4
...                   ...        ...    ...
3281  2015-10-10 06:00:00        100  comp3
3282  2015-10-25 06:00:00        100  comp4
3283  2015-11-09 06:00:00        100  comp4
3284  2015-12-09 06:00:00        100  comp2
3285  2015-12-24 06:00:00        100  comp2

[3286 rows x 3 columns], 'df_failures':                 datetime  machineID failure
0    2015-01-05 06:00:00          1   comp4
1    2015-03-06 06:00:00          1   comp1
2    2015-04-20 06:00:00          1   comp2
3    2015-06-19 06:00:00          1   comp4
4    2015-09-02 06:00:00          1   comp4
..                   ...        ...     ...
756  2015-11-29 06:00:00         99   comp3
757  2015-12-14 06:00:00         99   comp4
758  2015-02-12 06:00:00        100   comp1
759  2015-09-10 06:00:00        100   comp1
760  2015-12-09 06:00:00        100   comp2

[761 rows x 3 columns]}

In [175]:
type(dataframes )

dict

In [170]:
df_telemetry= dataframes["df_telemetry"]
df_errors= dataframes["df_errors"]
df_machines= dataframes["df_machines"]
df_maint= dataframes["df_maint"]
df_failures= dataframes["df_failures"]

## Show all DataFrames

In [137]:
showDataFrame(files_names=files_names)

df_telemetry DataFrame

,datetime,machineID,volt,rotate,pressure,vibration
0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686
1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973
2,2015-01-01 08:00:00,1,170.989902,527.349825,75.237905,34.178847
3,2015-01-01 09:00:00,1,162.462833,346.149335,109.248561,41.122144
4,2015-01-01 10:00:00,1,157.610021,435.376873,111.886648,25.990511

df_errors DataFrame

              datetime  machineID errorID
0  2015-01-03 07:00:00          1  error1
1  2015-01-03 20:00:00          1  error3
2  2015-01-04 06:00:00          1  error5
3  2015-01-10 15:00:00          1  error4
4  2015-01-22 10:00:00          1  error4

df_machines DataFrame

   machineID   model  age
0          1  model3   18
1          2  model4    7
2          3  model3    8
3          4  model3    7
4          5  model3    2

df_maint DataFrame

              datetime  machineID   comp
0  2014-06-01 06:00:00          1  comp2
1  2014-07-16 06:00:00          1  comp4
2  2014-07-31 06:00:00          1  comp3
3  2014-12-13 06:00:00          1  comp1
4  2015-01-05 06:00:00          1  comp4

df_failures DataFrame

              datetime  machineID failure
0  2015-01-05 06:00:00          1   comp4
1  2015-03-06 06:00:00          1   comp1
2  2015-04-20 06:00:00          1   comp2
3  2015-06-19 06:00:00          1   comp4
4  2015-09-02 06:00:00          1   comp4

# Data exploration

In [171]:
#files = ["PdM_telemetry.csv", "PdM_errors.csv", "PdM_machines.csv", "PdM_maint.csv","PdM_failures.csv"]
#df_names= ["df_telemetry","df_errors", "df_machines", "df_maint", "df_failures"]

## Shape, data types, missing values

### All DataFrames

In [195]:
# Function to explore a list of dataframes
exploreDataFrames(dataframe_dict=dataframes)

DataFrame: df_telemetry
Shape: (876100, 6)

Data Types:
 datetime      object
machineID      int64
volt         float64
rotate       float64
pressure     float64
vibration    float64
dtype: object

Missing Values:
 datetime     0
machineID    0
volt         0
rotate       0
pressure     0
vibration    0
dtype: int64
----------------------------------------------------------------------

DataFrame: df_errors
Shape: (3919, 3)

Data Types:
 datetime     object
machineID     int64
errorID      object
dtype: object

Missing Values:
 datetime     0
machineID    0
errorID      0
dtype: int64
----------------------------------------------------------------------

DataFrame: df_machines
Shape: (100, 3)

Data Types:
 machineID     int64
model        object
age           int64
dtype: object

Missing Values:
 machineID    0
model        0
age          0
dtype: int64
----------------------------------------------------------------------

DataFrame: df_maint
Shape: (3286, 3)

Data Types:
 datetime     object
machineID     int64
comp         object
dtype: object

Missing Values:
 datetime     0
machineID    0
comp         0
dtype: int64
----------------------------------------------------------------------

DataFrame: df_failures
Shape: (761, 3)

Data Types:
 datetime     object
machineID     int64
failure      object
dtype: object

Missing Values:
 datetime     0
machineID    0
failure      0
dtype: int64
----------------------------------------------------------------------

### Telemetry dataframe

## Analyze Features
* Numerical features and descriptive statistics
* Categorical features (counts)

### All DataFrames

In [196]:
analyzeDFsFeatures(dataframe_dict=dataframes)

DataFrame: df_telemetry


Numerical Features:

           machineID           volt         rotate       pressure  \
count  876100.000000  876100.000000  876100.000000  876100.000000
mean       50.500000     170.777736     446.605119     100.858668
std        28.866087      15.509114      52.673886      11.048679
min         1.000000      97.333604     138.432075      51.237106
25%        25.750000     160.304927     412.305714      93.498181
50%        50.500000     170.607338     447.558150     100.425559
75%        75.250000     181.004493     482.176600     107.555231
max       100.000000     255.124717     695.020984     185.951998

           vibration
count  876100.000000
mean       40.385007
std         5.370361
min        14.877054
25%        36.777299
50%        40.237247
75%        43.784938
max        76.791072

Categorical Feature: datetime
datetime
2015-01-01 06:00:00    100
2015-09-01 17:00:00    100
2015-09-01 11:00:00    100
2015-09-01 12:00:00    100
2015-09-01 13:00:00    100
                      ...
2015-05-02 17:00:00    100
2015-05-02 16:00:00    100
2015-05-02 15:00:00    100
2015-05-02 14:00:00    100
2016-01-01 06:00:00    100
Name: count, Length: 8761, dtype: int64
--------------------------------------------------

DataFrame: df_errors


Numerical Features:

         machineID
count  3919.000000
mean     51.044654
std      28.954988
min       1.000000
25%      25.000000
50%      51.000000
75%      77.000000
max     100.000000

Categorical Feature: datetime
datetime
2015-12-08 06:00:00    12
2015-01-19 06:00:00    11
2015-04-01 06:00:00    11
2015-07-14 06:00:00    10
2015-05-30 06:00:00    10
                       ..
2015-02-21 22:00:00     1
2015-02-19 08:00:00     1
2015-01-21 10:00:00     1
2015-01-21 01:00:00     1
2015-12-22 03:00:00     1
Name: count, Length: 2720, dtype: int64

Categorical Feature: errorID
errorID
error1    1010
error2     988
error3     838
error4     727
error5     356
Name: count, dtype: int64
--------------------------------------------------

DataFrame: df_machines


Numerical Features:

        machineID         age
count  100.000000  100.000000
mean    50.500000   11.330000
std     29.011492    5.856974
min      1.000000    0.000000
25%     25.750000    6.750000
50%     50.500000   12.000000
75%     75.250000   16.000000
max    100.000000   20.000000

Categorical Feature: model
model
model3    35
model4    32
model2    17
model1    16
Name: count, dtype: int64
--------------------------------------------------

DataFrame: df_maint


Numerical Features:

         machineID
count  3286.000000
mean     50.284236
std      28.914478
min       1.000000
25%      25.250000
50%      50.000000
75%      75.000000
max     100.000000

Categorical Feature: datetime
datetime
2014-11-28 06:00:00    37
2014-06-01 06:00:00    32
2014-06-16 06:00:00    31
2014-07-16 06:00:00    31
2014-08-30 06:00:00    29
                       ..
2015-11-10 06:00:00     1
2015-11-25 06:00:00     1
2015-12-10 06:00:00     1
2015-12-25 06:00:00     1
2015-01-03 06:00:00     1
Name: count, Length: 374, dtype: int64

Categorical Feature: comp
comp
comp2    863
comp4    811
comp3    808
comp1    804
Name: count, dtype: int64
--------------------------------------------------

DataFrame: df_failures


Numerical Features:

        machineID
count  761.000000
mean    51.911958
std     29.515542
min      1.000000
25%     24.000000
50%     51.000000
75%     79.000000
max    100.000000

Categorical Feature: datetime
datetime
2015-01-02 03:00:00    18
2015-04-02 06:00:00     8
2015-12-09 06:00:00     7
2015-01-20 06:00:00     7
2015-04-20 06:00:00     7
                       ..
2015-04-13 06:00:00     1
2015-11-07 06:00:00     1
2015-09-08 06:00:00     1
2015-05-11 06:00:00     1
2015-02-12 06:00:00     1
Name: count, Length: 302, dtype: int64

Categorical Feature: failure
failure
comp2    259
comp1    192
comp4    179
comp3    131
Name: count, dtype: int64
--------------------------------------------------

## Find Outliers

### All DataFrames

In [203]:
findOutliersDFs(dataframe_dict=dataframes)

DataFrame: df_telemetry


Potential outliers in machineID:
 0

Potential outliers in volt:
 7466

Potential outliers in rotate:
 8568

Potential outliers in pressure:
 15587

Potential outliers in vibration:
 11111
----------------------------------------------------------------------

DataFrame: df_errors


Potential outliers in machineID:
 0
----------------------------------------------------------------------

DataFrame: df_machines


Potential outliers in machineID:
 0

Potential outliers in age:
 0
----------------------------------------------------------------------

DataFrame: df_maint


Potential outliers in machineID:
 0
----------------------------------------------------------------------

DataFrame: df_failures


Potential outliers in machineID:
 0
----------------------------------------------------------------------

### Telemetry DataFrame

In [204]:
findOutliersDF(df=df_telemetry, df_name="df_telemetry")

Potential outliers in machineID:
 0

Potential outliers in volt:
 7466

Potential outliers in rotate:
 8568

Potential outliers in pressure:
 15587

Potential outliers in vibration:
 11111

### Erros DataFrame

In [206]:
findOutliersDF(df=df_errors, df_name="df_errors")

Potential outliers in machineID:
 0

# Data Cleaning

In [ ]:
import pandas as pd
import numpy as np

# Function to handle missing values
def handle_missing_values(df, df_name):
    print(f"Handling Missing Values for {df_name}")
    for col in df.columns:
        if df[col].isnull().any():
            if pd.api.types.is_numeric_dtype(df[col]):
                df[col].fillna(df[col].median(), inplace=True)
                print(f"Imputed missing values in '{col}' using median.")
            else:
                df[col].fillna(df[col].mode()[0], inplace=True)
                print(f"Imputed missing values in '{col}' using mode.")

# Function to address outliers using winsorizing
def address_outliers(df, df_name):
    print(f"Addressing Outliers for {df_name}")
    if df_name == 'df_telemetry':
      for col in ['volt', 'rotate', 'pressure', 'vibration']:
          df[col] = np.clip(df[col], df[col].quantile(0.01), df[col].quantile(0.99))
          print(f"Winsorized '{col}' at 1st and 99th percentiles.")

# Function to remove duplicates
def remove_duplicates(df, df_name):
    print(f"Removing Duplicates for {df_name}")
    num_duplicates = df.duplicated().sum()
    if num_duplicates > 0:
        df.drop_duplicates(inplace=True)
        print(f"Removed {num_duplicates} duplicate rows from '{df_name}'.")

# Function to convert datetime columns
def convert_datetime(df, df_name):
    print(f"Converting Datetime Columns for {df_name}")
    if 'datetime' in df.columns:
        try:
            df['datetime'] = pd.to_datetime(df['datetime'])
            print(f"Converted 'datetime' column to datetime objects for {df_name}.")
        except ValueError as e:
            print(f"Error converting 'datetime' column in {df_name}: {e}")


# Iterate through each DataFrame and apply the functions
for df_name in ["df_errors", "df_failures", "df_machines", "df_maint", "df_telemetry"]:
    df = eval(df_name)
    handle_missing_values(df, df_name)
    address_outliers(df, df_name)
    remove_duplicates(df, df_name)
    convert_datetime(df, df_name)

# Data Wrangling

In [ ]:
# Merge telemetry data with errors, failures, and maintenance data
merged_df = pd.merge(df_telemetry, df_errors, on=['machineID', 'datetime'], how='left')
merged_df = pd.merge(merged_df, df_failures, on=['machineID', 'datetime'], how='left')
merged_df = pd.merge(merged_df, df_maint, on=['machineID', 'datetime'], how='left')

# Merge with machine features
merged_df = pd.merge(merged_df, df_machines, on='machineID', how='left')

# Calculate time since last maintenance
merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])
merged_df = merged_df.sort_values(['machineID', 'datetime'])
merged_df['time_since_last_maint'] = merged_df.groupby('machineID')['datetime'].diff().dt.total_seconds()

# Calculate rolling averages for sensor readings
for col in ['volt', 'rotate', 'pressure', 'vibration']:
    merged_df[f'{col}_rolling_mean'] = merged_df.groupby('machineID')[col].rolling(window=10, min_periods=1).mean().reset_index(0, drop=True)

# Inspect the merged DataFrame
print(merged_df.shape)
print(merged_df.dtypes)
display(merged_df.describe(include='all'))
display(merged_df.head())

# Data Analysis

In [ ]:
import pandas as pd
import numpy as np

# Calculate failure rate by machine model
failure_rate_by_model = merged_df.groupby('model')['failure'].count() / merged_df.groupby('model')['machineID'].count()
print("Failure Rate by Model:\n", failure_rate_by_model)

# Calculate failure rate by machine age group
merged_df['age_group'] = pd.cut(merged_df['age'], bins=[0, 5, 10, 15, 20, np.inf], labels=['0-5', '5-10', '10-15', '15-20', '20+'])
failure_rate_by_age = merged_df.groupby('age_group')['failure'].count() / merged_df.groupby('age_group')['machineID'].count()
print("\nFailure Rate by Age Group:\n", failure_rate_by_age)

# Analyze the distribution of failures over time
failures_over_time = merged_df.groupby('datetime')['failure'].count()
print("\nFailures Over Time:\n", failures_over_time.head())

# Analyze sensor readings before failures
# First, ensure that 'failure' is not null
merged_df_failures = merged_df[merged_df['failure'].notnull()]

# Calculate the mean sensor readings 10 time steps before a failure
time_steps_before_failure = 10
sensor_readings_before_failure = []
for index, row in merged_df_failures.iterrows():
    machine_id = row['machineID']
    failure_time = row['datetime']
    start_time = failure_time - pd.Timedelta(minutes=time_steps_before_failure)
    relevant_data = merged_df[(merged_df['machineID'] == machine_id) & (merged_df['datetime'] >= start_time) & (merged_df['datetime'] < failure_time)]
    if not relevant_data.empty:
        sensor_readings_before_failure.append(relevant_data[['volt', 'rotate', 'pressure', 'vibration']].mean())

# Convert the list to a dataframe for analysis
sensor_readings_before_failure = pd.DataFrame(sensor_readings_before_failure)

# Display the first few rows
print("\nSensor readings before failure:\n", sensor_readings_before_failure.head())

# Correlation analysis
correlation_matrix = merged_df[['volt', 'rotate', 'pressure', 'vibration', 'volt_rolling_mean', 'rotate_rolling_mean', 'pressure_rolling_mean', 'vibration_rolling_mean', 'failure']].corr()
print("\nCorrelation Matrix:\n", correlation_matrix)

In [ ]:
import pandas as pd
import numpy as np

# Calculate failure rate by machine model
failure_rate_by_model = merged_df.groupby('model')['failure'].count() / merged_df.groupby('model')['machineID'].count()
print("Failure Rate by Model:\n", failure_rate_by_model)

# Calculate failure rate by machine age group
merged_df['age_group'] = pd.cut(merged_df['age'], bins=[0, 5, 10, 15, 20, np.inf], labels=['0-5', '5-10', '10-15', '15-20', '20+'])
failure_rate_by_age = merged_df.groupby('age_group')['failure'].count() / merged_df.groupby('age_group')['machineID'].count()
print("\nFailure Rate by Age Group:\n", failure_rate_by_age)

# Analyze the distribution of failures over time
failures_over_time = merged_df.groupby('datetime')['failure'].count()
print("\nFailures Over Time:\n", failures_over_time.head())

# Analyze sensor readings before failures
# First, ensure that 'failure' is not null and convert 'failure' to numeric representation
merged_df_failures = merged_df[merged_df['failure'].notnull()]
# Create a mapping for failures
failure_mapping = {failure: i for i, failure in enumerate(merged_df_failures['failure'].unique())}
merged_df_failures['failure_numeric'] = merged_df_failures['failure'].map(failure_mapping)

# Calculate the mean sensor readings 10 time steps before a failure
time_steps_before_failure = 10
sensor_readings_before_failure = []
for index, row in merged_df_failures.iterrows():
    machine_id = row['machineID']
    failure_time = row['datetime']
    start_time = failure_time - pd.Timedelta(minutes=time_steps_before_failure)
    relevant_data = merged_df[(merged_df['machineID'] == machine_id) & (merged_df['datetime'] >= start_time) & (merged_df['datetime'] < failure_time)]
    if not relevant_data.empty:
        sensor_readings_before_failure.append(relevant_data[['volt', 'rotate', 'pressure', 'vibration']].mean())

# Convert the list to a dataframe for analysis
sensor_readings_before_failure_df = pd.DataFrame(sensor_readings_before_failure)
print("\nSensor Readings Before Failure:\n", sensor_readings_before_failure_df.head())

# Correlation analysis - exclude non-numeric 'failure' column
correlation_matrix = merged_df[['volt', 'rotate', 'pressure', 'vibration', 'volt_rolling_mean', 'rotate_rolling_mean', 'pressure_rolling_mean', 'vibration_rolling_mean']].corr()
print("\nCorrelation Matrix:\n", correlation_matrix)

# Data Visualization

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Failure Rate by Model
plt.figure(figsize=(10, 6))
failure_rate_by_model = merged_df.groupby('model')['failure'].count() / merged_df.groupby('model')['machineID'].count()
sns.barplot(x=failure_rate_by_model.index, y=failure_rate_by_model.values)
plt.xlabel("Machine Model")
plt.ylabel("Failure Rate")
plt.title("Failure Rate by Machine Model")
plt.show()

# 2. Failure Rate by Age Group
plt.figure(figsize=(10, 6))
failure_rate_by_age = merged_df.groupby('age_group')['failure'].count() / merged_df.groupby('age_group')['machineID'].count()
sns.barplot(x=failure_rate_by_age.index, y=failure_rate_by_age.values)
plt.xlabel("Machine Age Group")
plt.ylabel("Failure Rate")
plt.title("Failure Rate by Machine Age Group")
plt.show()

# 3. Failures Over Time
plt.figure(figsize=(12, 6))
failures_over_time = merged_df.groupby('datetime')['failure'].count()
plt.plot(failures_over_time.index, failures_over_time.values)
plt.xlabel("Date and Time")
plt.ylabel("Number of Failures")
plt.title("Number of Failures Over Time")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()


# 4. Sensor Readings Over Time (for a sample of machines)
machine_ids = merged_df['machineID'].unique()[:5]  # Select the first 5 machines
plt.figure(figsize=(15, 10))

for i, machine_id in enumerate(machine_ids):
  plt.subplot(len(machine_ids), 1, i+1)
  machine_data = merged_df[merged_df["machineID"] == machine_id]
  plt.plot(machine_data['datetime'], machine_data['volt'], label='Volt')
  plt.plot(machine_data['datetime'], machine_data['rotate'], label='Rotate')
  plt.plot(machine_data['datetime'], machine_data['pressure'], label='Pressure')
  plt.plot(machine_data['datetime'], machine_data['vibration'], label='Vibration')
  plt.xlabel('Datetime')
  plt.ylabel('Sensor Readings')
  plt.title(f'Sensor Readings for Machine {machine_id}')
  plt.legend()
  plt.xticks(rotation=45)

plt.tight_layout()
plt.show()

# 5. Correlation Heatmap
plt.figure(figsize=(10, 8))
correlation_matrix = merged_df[['volt', 'rotate', 'pressure', 'vibration', 'volt_rolling_mean', 'rotate_rolling_mean', 'pressure_rolling_mean', 'vibration_rolling_mean']].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation Matrix of Sensor Readings and Rolling Means")
plt.show()

# Viz - Matplotlib

In [ ]:
import matplotlib.pyplot as plt

# Time Series Analysis for df_telemetry
for machine_id in df_telemetry['machineID'].unique():
    machine_data = df_telemetry[df_telemetry['machineID'] == machine_id]

    # Convert 'datetime' to datetime objects
    machine_data['datetime'] = pd.to_datetime(machine_data['datetime'])

    # Set 'datetime' as index
    machine_data = machine_data.set_index('datetime')

    plt.figure(figsize=(12, 8))

    # Plot each telemetry feature
    for column in ['volt', 'rotate', 'pressure', 'vibration']:
        plt.plot(machine_data.index, machine_data[column], label=column)

        # Calculate and plot rolling mean (e.g., window of 24 hours)
        rolling_mean = machine_data[column].rolling(window=24).mean()
        plt.plot(machine_data.index, rolling_mean, label=f"{column} rolling mean (24h)", linestyle='--')


    plt.title(f"Telemetry Data for Machine {machine_id}")
    plt.xlabel("Datetime")
    plt.ylabel("Value")
    plt.legend()
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

# Viz - Plotly

In [ ]:
# prompt: show features in the same plot

# Time Series Analysis for df_telemetry using Plotly - All features on the same plot
for machine_id in df_telemetry['machineID'].unique()[:3]: # Only plot for the first 3 machines
    machine_data = df_telemetry[df_telemetry['machineID'] == machine_id].copy()
    machine_data.loc[:, 'datetime'] = pd.to_datetime(machine_data['datetime'])

    # Set 'datetime' as index
    machine_data = machine_data.set_index('datetime')

    # Create a single figure for all features
    fig = go.Figure()

    features = ['volt', 'rotate', 'pressure', 'vibration']
    colors = ['blue', 'red', 'green', 'purple'] # Define colors for each feature

    for i, column in enumerate(features):
        # Add trace for the original data
        fig.add_trace(go.Scattergl(x=machine_data.index, y=machine_data[column], mode='lines', name=column, line=dict(color=colors[i])))

        # Calculate and add trace for rolling mean (e.g., window of 24 hours)
        rolling_mean = machine_data[column].rolling(window=24).mean()
        fig.add_trace(go.Scattergl(x=machine_data.index, y=rolling_mean, mode='lines', name=f"{column} rolling mean (24h)", line=dict(dash='dash', color=colors[i])))

    # Update layout
    fig.update_layout(
        title_text=f"Telemetry Data for Machine {machine_id}",
        height=600,
        xaxis_title="Datetime",
        yaxis_title="Value",
        hovermode='x unified' # Unify hover for better comparison
    )

    # Update x-axis to show datetime with hour and add range slider
    fig.update_xaxes(
        tickformat="%y:%m:%d | %H:%M",
        rangeslider_visible=True
    )

    fig.show()